<!DOCTYPE html>
<html>
  <head>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--	<link href="../assets/css/bootstrap.css" rel="stylesheet"> -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
	  .hero-unit{padding-top:20px; padding-bottom:20px}
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Who's On First</title>
	<link rel="icon" type="image/ico" href="http://www.mlb.com/favicon.ico"/>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">Who's On First</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			<li class="active"><a href="/index">Individual</a></li>
			  <li><a href="/team">Team</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
		<script src="/static/js/jquery.min.js"></script>

	<p>&nbsp;<br></p>
	<div class="container"> 
     <div class="hero-unit"> 	 
	 <p><font size = 2>It appears that you have entered information in an invalid format.  Please click on the "Team" page again and make sure that you enter:
		<ul>
		<li>Player names separated by a comma + a space, with no character after the last player in each text box;
		<li>At least <font size = 3>3</font> outfielders (can't have a team otherwise!);</li>
		<li>No less than <font size = 3>10</font> total batters and no more than <font size =3>13</font> (the norm for most fantasy leagues).</li>
		</ul></font></p>
	 </div>
	 </div>
	
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>
	<p>&nbsp;<br></p>

	<hr>
	 <footer>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&copy; Shanshan Ding, Insight Data Science, 2013.</p>
      </footer>
  </body>
</html>